# ===============================
# Node modules
# ===============================
node_modules

# ===============================
# Fichiers d'environnement (TOUS ignorés)
# ===============================
.env
.env.*
*/.env
*/.env.

/backend/.env
/frontend/.env


# ===============================
# Build / production
# ===============================
build/
dist/

# ===============================
# Logs
# ===============================
*.log
logs/

# ===============================
# Système
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE
# ===============================
.vscode/
.idea/

# ===============================
# Uploads
# ===============================
uploads/
public/uploads/
/backend/uploads/
/backend/public/uploads/